{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Detail user account{% endtrans %}</h1>
    {% include '_partial/flash.html.twig' %}
    <div class="row my-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-address-card"></i> Personal information
                </div>
                <div class="card-body">
                    <table class="table table-borderless table-sm" style="border: 0px none">
                        <tbody>
                            <tr>
                                <th>Employee ID</th>
                                <td><a href="https://performancemanager5.successfactors.eu/xi/ui/pages/empfile/liveprofile.xhtml?selected_user={{ account.employeeId }}" target="_blank">{{ account.employeeId }}</a></td>
                            </tr>
                            <tr>
                                <th>Display name</th>
                                <td>{{ bisData.displayName }}</td>
                            </tr>
                            <tr>
                                <th>Firstname</th>
                                <td>{{ account.firstname }}</td>
                            </tr>
                            <tr>
                                <th>Lastname</th>
                                <td>{{ account.lastname }}</td>
                            </tr>
                            <tr>
                                <th>Genre</th>
                                <td>
                                    {% if bisData.sex == 'M' %}
                                    <i class="fa fa-male" aria-hidden="true"></i> Male
                                    {% else %}
                                    <i class="fa fa-female" aria-hidden="true"></i> Female
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td><a href="mailto:{{ account.email }}">{{ account.email }}</a></td>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td>
                                    <i class="fa fa-mobile" aria-hidden="true"></i> {{ bisData.mobile|default('N.C.') }}<br>
                                    <i class="fa fa-phone" aria-hidden="true"></i> {{ bisData.telephone|default('N.C.') }}
                                </td>
                            </tr>
                            <tr>
                                <th>Language</th>
                                <td>{{ bisData.language }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-envelope-open"></i> Email information
                </div>
                <div class="card-body">
                    <table class="table table-borderless table-sm" style="border: 0px none">
                        <tbody>
                        <tr>
                            <th>Principal email</th>
                            <td>{{ bisData.email }}</td>
                        </tr>
                        <tr>
                            <th>Proxy addresses</th>
                            <td>{{ adData.proxyAddresses|join('<br>')|raw }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-briefcase"></i> Job information
                </div>
                <div class="card-body">
                    <table class="table table-borderless table-sm" style="border: 0px none">
                        <tbody>
                        <tr>
                            <th>Country workplace</th>
                            <td>{{ bisData.countryFlag|raw }} {{ bisData.department }}</td>
                        </tr>
                        <tr>
                            <th>Function</th>
                            <td>{{ bisData.function }}</td>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <td>{{ bisData.jobClass }}</td>
                        </tr>
                        <tr>
                            <th>In contract</th>
                            <td>
                                {% if bisData.perActive %}
                                    <span class="badge badge-success"><i class="fa fa-check-circle" aria-hidden="true"></i> Yes</span>
                                {% else %}
                                    <span class="badge badge-danger"><i class="fa fa-times" aria-hidden="true"></i> No</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Start date</th>
                            <td>{{ bisData.dateContractStart ? bisData.dateContractStart|date('d/m/Y') : 'N.C.' }}</td>
                        </tr>
                        <tr>
                            <th>End date</th>
                            <td>{{ bisData.dateContractStop ? bisData.dateContractStop|date('d/m/Y') : 'N.C.' }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-user-circle"></i> Account information [AD]
                </div>
                <div class="card-body">
                    <table class="table table-borderless table-sm" style="border: 0px none">
                        <tbody>
                            <tr>
                                <th>Account</th>
                                <td>{{ adData.userPrincipalName }} [{{ account.accountName }}]</td>
                            </tr>
                            <tr>
                                <th>DN</th>
                                <td>{{ adData.distinguishedName }}</td>
                            </tr>
                            <tr>
                                <th>Home Drive</th>
                                <td>{{ [adData.homeDrive, adData.homeDirectory]|join(' => ')|default('N.C.') }}</td>
                            </tr>
                            <tr>
                                <th>Bad password count</th>
                                <td>{{ adData.badPasswordCount }}</td>
                            </tr>
                            <tr>
                                <th>Last login</th>
                                <td>{{ account.lastLoginAt|date("d/m/Y H:i:s") }}</td>
                            </tr>
                            <tr>
                                <th>Password last set</th>
                                <td>{{ adData.passwordLastSetTimestamp|date("d/m/Y H:i:s") }}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <th>
                                    {%  if adData.disabled %}
                                        <span class="badge badge-danger"><i class="fa fa-times" aria-hidden="true"></i> disabled</span>
                                    {% else %}
                                        <span class="badge badge-success"><i class="fa fa-check-circle" aria-hidden="true"></i> enabled</span>
                                    {% endif %}
                                </th>
                            </tr>
                            <tr>
                                <th>Expiration date</th>
                                <td>
                                    {% if adData.expirationDate is empty %}
                                        Never expires
                                    {% else %}
                                        {{ adData.expirationDate|date("d/m/Y H:i:s") }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Personal token</th>
                                <td><small>{{ account.token|raw }}</small></td>
                            </tr>
                            <tr>
                                <th>Creation date</th>
                                <td>{{ adData.createdAtDate|date('d/m/Y H:i') }}</td>
                            </tr>
                            <tr>
                                <th>Modification date</th>
                                <td>{{ adData.updatedAtDate|date('d/m/Y H:i') }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-key"></i> Account information [LDAP]
                </div>
                <div class="card-body">
                    <table class="table table-borderless table-sm" style="border: 0px none">
                        <tbody>
                        <tr>
                            <th>Email</th>
                            <td>{{ ldapData.email }}</td>
                        </tr>
                        <tr>
                            <th>Display name</th>
                            <td>{{ ldapData.displayName }}</td>
                        </tr>
                        <tr>
                            <th>DN</th>
                            <td>{{ ldapData.distinguishedName }}</td>
                        </tr>
                        {% if ldapData.createdAt is not empty %}
                            <tr>
                                <th>Creation date</th>
                                <td>{{ ldapData.createdAtDate|date('d/m/Y H:i') }}</td>
                            </tr>
                        {% endif %}
                        {% if ldapData.updatedAt is not empty %}
                            <tr>
                                <th>Modify date</th>
                                <td>{{ ldapData.updatedAtDate|date('d/m/Y H:i') }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}

{% endblock %}
