{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'Detail user account'|trans }}</h1>
    {% include '_partial/flash.html.twig' %}
    <div class="row my-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-address-card"></i> Personal information
                </div>
                <div class="card-body">
                    {% if bisData is empty %}
                    <span class="alert alert-danger">{{ 'account.notfound.in.bis'|trans }}</span>
                    {% else %}
                    <table class="table table-sm" style="border: 0px none">
                        <tbody>
                            <tr>
                                <th>Employee ID</th>
                                <td><a href="https://performancemanager5.successfactors.eu/xi/ui/pages/empfile/liveprofile.xhtml?selected_user={{ bisData.employeeId }}" target="_blank">{{ bisData.employeeId }}</a></td>
                            </tr>
                            <tr>
                                <th>Display name</th>
                                <td>{{ bisData.displayName }}</td>
                            </tr>
                            <tr>
                                <th>Firstname</th>
                                <td>{{ account.firstname|default('NC') }}</td>
                            </tr>
                            <tr>
                                <th>Lastname</th>
                                <td>{{ account.lastname|default('NC') }}</td>
                            </tr>
                            <tr>
                                <th>Genre</th>
                                <td>
                                    {% if bisData.sex == 'M' %}
                                    <i class="fas fa-male" aria-hidden="true"></i> Male
                                    {% else %}
                                    <i class="fas fa-female" aria-hidden="true"></i> Female
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td><a href="mailto:{{ bisData.email }}">{{ bisData.email }}</a></td>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td>
                                    <i class="fas fa-mobile" aria-hidden="true"></i> {{ bisData.mobile|default('N.C.') }}<br>
                                    <i class="fas fa-phone" aria-hidden="true"></i> {{ bisData.telephone|default('N.C.') }}
                                </td>
                            </tr>
                            <tr>
                                <th>Language</th>
                                <td>{{ bisData.language }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-envelope-open"></i> Email information
                </div>
                <div class="card-body">
                    {% if bisData is empty %}
                    <span class="alert alert-danger">{{ 'account.notfound.in.bis'|trans }}</span>
                    {% else %}
                    <table class="table table-sm" style="border: 0px none">
                        <tbody>
                        <tr>
                            <th>Principal email</th>
                            <td>{{ bisData.email }}</td>
                        </tr>
                        <tr>
                            <th>Proxy addresses</th>
                            <td>{{ adData.getproxyAddresses|default('N.C.')|join('<br>')|raw }}</td>
                        </tr>
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-briefcase"></i> Job information
                </div>
                <div class="card-body">
                    {% if bisData is empty %}
                    <span class="alert alert-danger">{{ 'account.notfound.in.bis'|trans }}</span>
                    {% else %}
                    <table class="table table-sm" style="border: 0px none">
                        <tbody>
                        <tr>
                            <th>Country workplace</th>
                            <td>{{ bisData.countryFlag|raw }} {{ bisData.countryWorkplace }}</td>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <td>{{ bisData.employeeType }}</td>
                        </tr>
                        <tr>
                            <th>Department</th>
                            <td>{{ bisData.department|default("N.C") }}</td>
                        </tr>
                        <tr>
                            <th>Service</th>
                            <td>{{ bisData.service|default("N.C") }}</td>
                        </tr>
                        <tr>
                            <th>Cell</th>
                            <td>{{ bisData.cell|default("N.C") }}</td>
                        </tr>
                        <tr>
                            <th>Function</th>
                            <td>{{ bisData.function }}</td>
                        </tr>
                        <tr>
                            <th>N+1</th>
                            <td>{{ bisData.manager }}</td>
                        </tr>

                        <tr>
                            <th>In contract</th>
                            <td>
                                {% if bisData.perActive %}
                                    <span class="badge badge-success"><i class="fas fa-check-circle" aria-hidden="true"></i> Yes</span>
                                {% else %}
                                    <span class="badge badge-danger"><i class="fas fa-times" aria-hidden="true"></i> No</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Start date</th>
                            <td>{{ bisData.dateContractStart ? bisData.dateContractStart|date('d/m/Y') : 'N.C.' }}</td>
                        </tr>
                        <tr>
                            <th>End date</th>
                            <td>{{ bisData.dateContractStop ? bisData.dateContractStop|date('d/m/Y') : 'N.C.' }}</td>
                        </tr>
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-user-circle"></i> Account information [AD]
                </div>
                <div class="card-body">
                    {% if adData is empty %}
                        <span class="alert alert-danger">{{ 'account.notfound.in.ad'|trans }}</span>
                    {% else %}
                    <table class="table table-sm" style="border: 0px none">
                        <tbody>
                            <tr>
                                <th>Account</th>
                                <td>{{ adData.getuserPrincipalName|default('N.C.') }} [{{ account.accountName|default('N.C.') }}]</td>
                            </tr>
                            <tr>
                                <th>DN</th>
                                <td>{{ adData.getdistinguishedName|default('N.C.') }}</td>
                            </tr>
                            <tr>
                                <th>Home Drive</th>
                                <td>{{ [adData.gethomeDrive, adData.gethomeDirectory]|join(' => ')|default('N.C.') }}</td>
                            </tr>
                            <tr>
                                <th>Bad password count</th>
                                <td>{{ adData.getbadPasswordCount|default('N.C.') }}</td>
                            </tr>
                            <tr>
                                <th>Last login</th>
                                <td>{{ account is not empty and account.lastLoginAt is not empty ? account.lastLoginAt|date("d/m/Y H:i:s") : 'never' }}</td>
                            </tr>
                            <tr>
                                <th>Password last set</th>
                                <td>{{ adData.getpasswordLastSetTimestamp is empty ? 'never' : adData.getpasswordLastSetTimestamp|date("d/m/Y H:i:s") }}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <th>
                                    {%  if adData.disabled %}
                                        <span class="badge badge-danger"><i class="fas fa-times" aria-hidden="true"></i> disabled</span>
                                    {% else %}
                                        <span class="badge badge-success"><i class="fas fa-check-circle" aria-hidden="true"></i> enabled</span>
                                    {% endif %}
                                </th>
                            </tr>
                            <tr>
                                <th>Expiration date</th>
                                <td>
                                    {% if adData.expirationDate is empty %}
                                        Never expires
                                    {% else %}
                                        {{ adData.expirationDate|date("d/m/Y H:i:s") }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Personal token</th>
                                <td><small>{{ account.token|default('N.C.')|raw }}</small></td>
                            </tr>
                            <tr>
                                <th>Creation date</th>
                                <td>{{ adData.getcreatedAtDate|date('d/m/Y H:i') }}</td>
                            </tr>
                            <tr>
                                <th>Modification date</th>
                                <td>{{ adData.getupdatedAtDate is empty ? 'never' : adData.getupdatedAtDate|date('d/m/Y H:i') }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-key"></i> Account information [LDAP]
                </div>
                <div class="card-body">
                    {% if ldapData is empty %}
                        <span class="alert alert-danger">{{ 'account.notfound.in.ldap'|trans }}</span>
                    {% else %}
                    <table class="table table-sm" style="border: 0px none">
                        <tbody>
                        <tr>
                            <th>Email</th>
                            <td>{{ ldapData.getemail }}</td>
                        </tr>
                        <tr>
                            <th>Display name</th>
                            <td>{{ ldapData.getdisplayName }}</td>
                        </tr>
                        <tr>
                            <th>DN</th>
                            <td>{{ ldapData.getdistinguishedName }}</td>
                        </tr>
                        {% if ldapData.getcreatedAt is not empty %}
                            <tr>
                                <th>Creation date</th>
                                <td>{{ ldapData.getcreatedAtDate|date('d/m/Y H:i') }}</td>
                            </tr>
                        {% endif %}
                        {% if ldapData.getupdatedAt is not empty %}
                            <tr>
                                <th>Modify date</th>
                                <td>{{ ldapData.getupdatedAtDate|date('d/m/Y H:i') }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}

{% endblock %}
