{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Accounts'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
<h1>{{ 'User accounts'|trans }}</h1>
{% include '_partial/flash.html.twig' %}
<div class="table-responsive">
    <div class="filter d-flex justify-content-end align-items-center">
        {{ knp_pagination_filter(
            pagination,
            {
                'global': 'filter.criteria'
            }
        ) }}
    </div>
    <div class="navigation d-flex justify-content-center align-items-center">
        {{ knp_pagination_render(pagination) }}
    </div>
    <table class="table table-striped table-sm table-hover" id="account_list_page">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, '#', 'account.employeeId') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Firstname'|trans, 'account.firstname')|raw }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Lastname'|trans, 'account.lastname')|raw }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Email'|trans, 'account.email')|raw }}</th>
            <th>{{ 'Mobile'|trans }}</th>
            <th>{{ 'Initial password'|trans }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Last login'|trans, 'account.lastLoginAt')|raw }}</th>
            <th class="text-right">{{ 'Actions'|trans }} </th>
        </tr>
        </thead>
        <tbody>
        {% for account in pagination %}
            <tr>
                <td>{{ account.employeeId }}</td>
                <td>{{ account.firstname }}</td>
                <td>{{ account.lastname }}</td>
                <td>{{ account.email }}</td>
                <td>{{ account.email|userMobile|default('NC') }}</td>
                <td>{{ account.generatedPassword|default('Not generated') }}</td>
                <td>{{ account.lastLoginAt is empty ? 'never' : account.lastLoginAt|date('d/m/Y H:i') }}</td>
                <td class="text-right">
                    {% if account.employeeId is not empty %}
                        <a href="{{ path('account_detail', {'id': account.employeeId}) }}" class="btn btn-sm btn-outline-success"><i class="fas fa-eye" aria-hidden="true"></i> {{ 'Show detail'|trans }}</a>
                        <a href="{{ path('account_change_email', {'id': account.employeeId}) }}" class="btn btn-sm btn-outline-danger"><i class="fas fa-edit" aria-hidden="true"></i> {{ 'Change email'|trans }}</a>
                        <a href="{{ path('account_check_password', {'id': account.employeeId}) }}" class="btn btn-sm btn-outline-info"><i class="fas fa-medkit" aria-hidden="true"></i> {{ 'Test password'|trans }}</a>
                        <a href="{{ path('account_reset_password', {'employeeID': account.employeeId}) }}" class="btn btn-sm btn-outline-warning account_reset_password"><i class="fas fa-redo-alt" aria-hidden="true"></i> {{ 'Reset password'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation d-flex justify-content-center align-items-center">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.account_reset_password').click(function() {
                $(this).addClass('disabled');
                $(this).blur();
                var check =  confirm('are you sure you want to reset the password for this account?');
                if(check === true){
                }else{
                    $(this).removeClass('disabled');
                    return false;
                }
            });
        });
    </script>
{% endblock %}