<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Application for Active Directory Manipulation.">
        <meta name="author" content="Enabel">
        <title>
            {% block title %}ADManager{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/aller-webfont.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/btcflagicon/css/flag-icon.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/main.css') }}" />
        {% endblock %}
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('favicon/apple-icon-57x57.png') }}" />
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('favicon/apple-icon-60x60.png') }}" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('favicon/apple-icon-72x72.png') }}" />
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('favicon/apple-icon-76x76.png') }}" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('favicon/apple-icon-114x114.png') }}" />
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('favicon/apple-icon-120x120.png') }}" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('favicon/apple-icon-144x144.png') }}" />
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('favicon/apple-icon-152x152.png') }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-icon-180x180.png') }}" />
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('favicon/android-icon-192x192.png') }}" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}" />
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon/favicon-96x96.png') }}" />
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}" />
        <link rel="manifest" href="{{ asset('favicon/manifest.json') }}" />
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('favicon/ms-icon-144x144.png') }}" />
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
    {% block content %}
        {% include ':partial:navbar.html.twig' %}
        <div class="container-fluid">
        <div class="row">
            {% include ':partial:sidebar.html.twig' %}
            <main role="main" class="col-sm-10 ml-sm-auto col-md-11 pt-3">
                {% block body %}
                {% endblock %}
            </main>
            </div>
        </div>
    {% endblock %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted love">Made with <i class="fa fa-heart"></i> in Belgium.</span>
        </div>
    </footer>
    {% block javascripts %}
        <!-- jQuery -->
        <script src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <!-- Popper.js -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- holder.js -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
    {% endblock %}
    </body>
</html>
