{% extends '::layout.html.twig' %}

{% block body %}
    {% include ':partial:flash.html.twig' %}

    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {{ form_row(form.current_password) }}
        </div>
        <div class="col-md-3">
            <div class="form-control-feedback">
                <span class="text-danger align-middle">
                    {{ form_errors(form.current_password) }}
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {{ form_row(form.password.first) }}
        </div>
        <div class="col-md-3">
            <div class="form-control-feedback">
                <span class="text-danger align-middle">
                    {{ form_errors(form.password.first) }}
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {{ form_row(form.password.second) }}
        </div>
        <div class="col-md-3">
            <div class="form-control-feedback">
                <span class="text-danger align-middle">
                    {{ form_errors(form.password.second) }}
                </span>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 1rem">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary"><i class="fa fa-key"></i> Change password</button>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block title %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('bundles/app/js/account.js') }}"></script>#}
{% endblock %}