{% extends '::layout.html.twig' %}

{% block title %}
    Accounts - {{ parent() }}
{% endblock %}

{% block body %}
<h1>Active Directory - Accounts</h1>
{% include ':partial:flash.html.twig' %}

<div class="table-responsive">
    <table class="table table-striped table-sm table-hover table-responsive">
        <thead>
        <tr>
            <th>Email</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Country</th>
            <th>Function</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{ account.Email }}</td>
                <td>{{ account.FirstName }}</td>
                <td>{{ account.LastName }}</td>
                <td>{{ account.Department }}</td>
                <td>{{ account.Description }}</td>


                <td>
                    {% if account.EmployeeID is not empty %}
                        {% if account.isDisabled %}
                            <span class="badge badge-danger"><i class="fa fa-times-circle" aria-hidden="true"></i> Disabled</span>
                        {% elseif account.isEnabled %}
                            <span class="badge badge-success"><i class="fa fa-check-circle" aria-hidden="true"></i> Enabled</span>
                        {% elseif account.isLocked %}
                            <span class="badge badge-warning"><i class="fa fa-lock" aria-hidden="true"></i> Locked</span>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if account.EmployeeID is not empty %}
                        <a href="{{ path('ad_reset_account', {'employeeID': account.EmployeeID }) }}" class="btn btn-sm btn-outline-danger"><i class="fa fa-repeat" aria-hidden="true"></i> Reset password</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

