{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        {{ form_row(form.userId) }}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        {{ form_row(form.language) }}
    </div>
</div>
<div class="row" style="padding-top: 1rem">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> {{ 'form.btn.save'|trans }}</button>
    </div>
</div>
{{ form_end(form) }}
