{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'main.menu.account.label'|trans }}</h1>
    {% include '_partial/flash.html.twig' %}
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <div class="card">
        <h4 class="card-header">
            <i class="flag-icon flag-icon-{{ country|lower }}" title="{{ user.department }}" alt="{{ user.department }}"></i> {{ user.firstname }} {{ user.lastname }}
        </h4>
        <div class="card-body">
            <h5 class="card-title">{{ user.description }}</h5>
            <p class="card-text">
                <i class="fa fa-envelope" aria-hidden="true"></i> {{ user.userprincipalname }}
                {% if user.telephoneNumber is not empty %}
                <br>
                <i class="fa fa-phone" aria-hidden="true"></i> {{ user.telephoneNumber }}
                {% endif %}
            </p>
            {%  if passwordAges > 80 %}
            <div class="alert alert-danger" role="alert">
            {%  elseif passwordAges > 70 %}
            <div class="alert alert-warning" role="alert">
            {%  else %}
            <div class="alert alert-primary" role="alert">
            {% endif %}
                {{ 'my.account.label.lastset'|trans }}:
                <time class="timeago" datetime="{{ user.passwordLastSetTimestamp|date("Y-m-d H:i:s") }}">{{ user.passwordLastSetTimestamp|date("d/m/Y") }}</time>
                <br/><small>{{ 'my.account.label.password.recommendation'|trans }}</small>
            </div>
            <div class="btn-group pull-right" role="group" aria-label="Actions">
                <a href="{{ url('homepage') }}" class="btn btn-primary"><i class="fa fa-sitemap"></i> {{ 'btn.application.label'|trans }}</a>
                <a href="{{ url('account_change_password') }}" class="btn btn-warning"><i class="fa fa-key"></i> {{ 'btn.change.password.label'|trans }}</a>
            </div>
        </div>
    </div>
    </div>


{% endblock %}

{% block title %}
    {{ 'main.menu.account.label'|trans }} - {{ parent() }}
{% endblock %}
