{% extends 'layout.html.twig' %}

{% block body %}
    <h1>My apps</h1>
    <h3>Your apps & useful links</h3>
    {% include '_partial/flash.html.twig' %}
    {#{% for row in applications|batch(6) %}#}
    <div class="row">
        {% for application in applications %}
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2" style="padding: 1rem;">
                <div class="card text-center">
                    <h4 class="card-header">
                        {{ application.name }}
                    </h4>
                    <div class="card-body">
                        {% if (application.linkFr is not empty) or (application.linkNl is not empty) %}
                            {% if application.linkFr is not empty %}
                                <a href="{{ application.linkFr }}" target="_blank" class="btn btn-primary">FR</a>
                            {% endif %}
                            {% if application.linkNl is not empty %}
                                <a href="{{ application.linkNl }}" target="_blank" class="btn btn-primary">NL</a>
                            {% endif %}
                            <a href="{{ application.link }}" target="_blank" class="btn btn-primary">EN</a>
                        {% else %}
                            <a href="{{ application.link }}" target="_blank" class="btn btn-primary"><i class="fa fa-eye"></i> LINK</a>
                        {% endif %}
                    </div>
                    {#<div class="card-footer text-right">#}
                        {#<a href="#" class="text-success"><i class="fa fa-check-circle"></i> Online</a>#}
                        {#<a href="#" class="text-warning"><i class="fa fa-exclamation-circle"></i> Maintenance</a>#}
                        {#<a href="#" class="text-danger"><i class="fa fa-times-circle"></i> Offline</a>#}
                    {#</div>#}
                </div>
            </div>
        {% endfor %}
    </div>
    {#{% endfor %}#}
{% endblock %}

{% block title %}
    My apps - {{ parent() }}
{% endblock %}
