{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'main.menu.application.label'|trans }}</h1>
    <h3>{{ 'application.title.h3'|trans }}</h3>
    {% include '_partial/flash.html.twig' %}
    {% if passwordAges > 70 %}
    {%  if passwordAges > 80 %}
    <div class="alert alert-danger" role="alert">
    {%  elseif passwordAges > 70 %}
    <div class="alert alert-warning" role="alert">
    {% endif %}
        {{ 'my.account.label.lastset'|trans }}:
        <time class="timeago" datetime="{{ user.passwordLastSetTimestamp|date("Y-m-d H:i:s") }}">{{ user.passwordLastSetTimestamp|date("d/m/Y") }}</time>
        <br/><small>{{ 'my.account.label.password.recommendation'|trans }}</small>
    </div>
    {% endif %}
    {#{% for row in applications|batch(6) %}#}
    <div class="row">
        {% for application in applications %}
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2" style="padding: 1rem;">
                <div class="card text-center">
                    <h4 class="card-header">
                        {{ application.name }}
                    </h4>
                    <div class="card-body">
                        {% if (application.linkFr is not empty) or (application.linkNl is not empty) %}
                            {% if application.linkFr is not empty %}
                                <a href="{{ application.linkFr }}" target="_blank" class="btn btn-primary">{{ 'application.btn.link.fr.label'|trans|upper }}</a>
                            {% endif %}
                            {% if application.linkNl is not empty %}
                                <a href="{{ application.linkNl }}" target="_blank" class="btn btn-primary">{{ 'application.btn.link.nl.label'|trans|upper }}</a>
                            {% endif %}
                            <a href="{{ application.link }}" target="_blank" class="btn btn-primary">{{ 'application.btn.link.en.label'|trans|upper }}</a>
                        {% else %}
                            <a href="{{ application.link }}" target="_blank" class="btn btn-primary"><i class="fa fa-eye"></i> {{ 'application.btn.link.label'|trans|upper }}</a>
                        {% endif %}
                    </div>
                    {#<div class="card-footer text-right">#}
                        {#<a href="#" class="text-success"><i class="fa fa-check-circle"></i> Online</a>#}
                        {#<a href="#" class="text-warning"><i class="fa fa-exclamation-circle"></i> Maintenance</a>#}
                        {#<a href="#" class="text-danger"><i class="fa fa-times-circle"></i> Offline</a>#}
                    {#</div>#}
                </div>
            </div>
        {% endfor %}
    </div>
    {#{% endfor %}#}
{% endblock %}

{% block title %}
    {{ 'main.menu.application.label'|trans }} - {{ parent() }}
{% endblock %}
