{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    <h1>{{ 'message.log.all.title'|trans }}</h1>
    {% else %}
    <h1>{{ 'message.log.my.title'|trans }}</h1>
    {% endif %}
{% include '_partial/flash.html.twig' %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive-md table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'message.form.label.sender'|trans }}</th>
                        <th>{{ 'message.form.label.recipient'|trans }}</th>
                        <th>{{ 'message.form.label.message'|trans }}</th>
                        <th>{{ 'message.label.action'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for message in messages %}
                    <tr>
                        <td>{{ message.id }}</td>
                        <td>{{ message.sender.identity }}</td>
                        <td>{{ message.recipient|length }}</td>
                        <td>{{ message.message }}</td>
                        <td>
                            <a href="{{ path('message_detail', {'id': message.id}) }}" class="btn btn-xs btn-outline-primary"><i class="fa fa-eye"></i> {{ 'message.label.detail' }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block title %}
    {% if is_granted('ROLE_ADMIN') %}
        {{ 'message.log.all.title'|trans }} - {{ parent() }}
    {% else %}
        {{ 'message.log.my.title'|trans }} - {{ parent() }}
    {% endif %}
{% endblock %}

