{%  extends 'AuthBundle::layout.html.twig' %}

{% block body %}
    <div class="container">
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <img src="{{ asset('img/logo_enabel.jpg') }}" class="img-fluid text-md-center"/>
                    <h2>Please Login</h2>
                    <hr>
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                        {{ form_row(form._username) }}
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            {{ form_errors(form._username) }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                        {{ form_row(form._password) }}
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                        {{ form_errors(form._password) }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6" style="padding-top: .35rem">
                    {{ form_row(form._remember) }}
                </div>
            </div>
            <div class="row" style="padding-top: 1rem">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-warning"><i class="fa fa-sign-in"></i> Login</button>
                    <a class="btn btn-link" href="/password/reset">Forgot Your Password?</a>
                </div>
            </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
