<li class="nav-item {% if (app.request.get('_route') == 'homepage') or (app.request.get('_route') == 'application-my-apps') %}active{% endif %}">
    <a href="{{ path('application-my-apps') }}" class="nav-link">{% trans %}My apps{% endtrans %}</a>
</li>

{% if is_granted('ROLE_ADMIN') %}
<li class="nav-item {% if app.request.get('_route') == 'account_ad_list' %}active{% endif %}">
    <a href="{{ path('account_list') }}" class="nav-link">{% trans %}Accounts{% endtrans %}</a>
</li>
{% endif %}

{% if is_granted('ROLE_SUPER_ADMIN') %}
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i> Admin<span class="caret"></span></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <h6 class="dropdown-header">Applications</h6>
                <a href="{{ path('application_index') }}" class="dropdown-item">{% trans %}List{% endtrans %}</a>
                <a href="{{ path('application_index') }}" class="dropdown-item">{% trans %}New{% endtrans %}</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Incidents</h6>
                <a href="{{ path('incident_index') }}" class="dropdown-item">{% trans %}List{% endtrans %}</a>
                <a href="{{ path('incident_new') }}" class="dropdown-item">{% trans %}New{% endtrans %}</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Incident severity</h6>
                <a href="{{ path('incident_severity_index') }}" class="dropdown-item">{% trans %}List{% endtrans %}</a>
                <a href="{{ path('incident_severity_new') }}" class="dropdown-item">{% trans %}New{% endtrans %}</a>


            </div>
        </li>
    </ul>
{% endif %}