<li class="nav-item {% if (app.request.get('_route') == 'homepage') %}active{% endif %}">
    <a href="{{ path('homepage') }}" class="nav-link"><i class="fa fa-home"></i> {{ 'main.menu.homepage.label'|trans }}</a>
</li>

{% if is_granted('ROLE_ADMIN') %}
<li class="nav-item dropdown {% if (app.request.get('_route') == 'account_list') or (app.request.get('_route') == 'account_password_changed_ago-my-apps') %}active{% endif %}">
    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users"></i> {{ 'main.menu.admin.accounts.label'|trans }}<span class="caret"></span></a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a href="{{ path('account_list') }}" class="dropdown-item {% if (app.request.get('_route') == 'account_list') %}active{% endif %}"><i class="fa fa-table"></i> {{ 'main.menu.admin.account.list.label'|trans }}</a>
        <a href="{{ path('account_password_changed_ago') }}" class="dropdown-item {% if (app.request.get('_route') == 'account_password_changed_ago') %}active{% endif %}"><i class="fa fa-user-secret"></i> {{ 'main.menu.admin.account.passwordAgo.label'|trans }}</a>
    </div>
</li>
{% endif %}

<li class="nav-item dropdown {% if (app.request.get('_route') == 'contact_all') or (app.request.get('_route') == 'contact_own_country') or (app.request.get('_route') == 'contact_hq') %}active{% endif %}">
    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-phone"></i> {{ 'main.menu.admin.contact.label'|trans }}<span class="caret"></span></a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% if app.user.username|userCountry != 'BE' %}
        <a href="{{ path('contact_own_country') }}" class="dropdown-item {% if (app.request.get('_route') == 'contact_own_country') %}active{% endif %}"><i class="flag-icon flag-icon-{{ app.user.username|userCountry|lower }}"></i> {{ 'main.menu.admin.contact.own.label'|trans }}</a>
        {% endif %}
        <a href="{{ path('contact_hq') }}" class="dropdown-item {% if (app.request.get('_route') == 'contact_hq') %}active{% endif %}"><i class="flag-icon flag-icon-be"></i> {{ 'main.menu.admin.contact.hq.label'|trans }}</a>
        <a href="{{ path('contact_all') }}" class="dropdown-item {% if (app.request.get('_route') == 'contact_all') %}active{% endif %}"><i class="fa fa-globe"></i> {{ 'main.menu.admin.contact.all.label'|trans }}</a>
    </div>
</li>

{% if is_granted('ROLE_SMS') %}
    <li class="nav-item dropdown {% if (app.request.get('_route') == 'message_log') or (app.request.get('_route') == 'message_create') %}active{% endif %}">
        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-comment"></i> {{ 'main.menu.admin.message.label'|trans }}<span class="caret"></span></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a href="{{ path('message_log') }}" class="dropdown-item {% if (app.request.get('_route') == 'message_log') %}active{% endif %}"><i class="fa fa-comments"></i> {{ 'main.menu.admin.message.log.label'|trans }}</a>
            <a href="{{ path('message_create_group') }}" class="dropdown-item {% if (app.request.get('_route') == 'message_create_group') %}active{% endif %}"><i class="fa fa-comment-alt"></i> {{ 'main.menu.admin.message.create.group.label'|trans }}</a>
            <a href="{{ path('message_create_person') }}" class="dropdown-item {% if (app.request.get('_route') == 'message_create_person') %}active{% endif %}"><i class="fa fa-comment"></i> {{ 'main.menu.admin.message.create.person.label'|trans }}</a>
        </div>
    </li>
{% endif %}

{#{% if is_granted('ROLE_SUPER_ADMIN') %}#}
    {#<ul class="navbar-nav">#}
        {#<li class="nav-item dropdown">#}
            {#<a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i> {{ 'main.menu.admin.label'|trans }}<span class="caret"></span></a>#}
            {#<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">#}
                {#<h6 class="dropdown-header">{{ 'main.menu.admin.application.label'|trans }}</h6>#}
                {#<a href="{{ path('application_index') }}" class="dropdown-item">{{ 'main.menu.admin.list.label'|trans }}</a>#}
                {#<a href="{{ path('application_index') }}" class="dropdown-item">{{ 'main.menu.admin.new.label'|trans }}</a>#}
                {#<div class="dropdown-divider"></div>#}

                {#<h6 class="dropdown-header">{{ 'main.menu.admin.incident.label'|trans }}</h6>#}
                {#<a href="{{ path('incident_index') }}" class="dropdown-item">{{ 'main.menu.admin.list.label'|trans }}</a>#}
                {#<a href="{{ path('incident_new') }}" class="dropdown-item">{{ 'main.menu.admin.new.label'|trans }}</a>#}
                {#<div class="dropdown-divider"></div>#}

                {#<h6 class="dropdown-header">{{ 'main.menu.admin.incident_severity.label'|trans }}</h6>#}
                {#<a href="{{ path('incident_severity_index') }}" class="dropdown-item">{{ 'main.menu.admin.list.label'|trans }}</a>#}
                {#<a href="{{ path('incident_severity_new') }}" class="dropdown-item">{{ 'main.menu.admin.new.label'|trans }}</a>#}
            {#</div>#}
        {#</li>#}
    {#</ul>#}
{#{% endif %}#}