<nav class="col-sm-2 col-md-1 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link {% if (app.request.get('_route') == 'homepage') or (app.request.get('_route') == 'application-my-apps') %}active{% endif %}" href="{{ path('application-my-apps') }}">{{ 'main.menu.application.label'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if app.request.get('_route') == 'my_account' %}active{% endif %}" href="{{ path('my_account') }}">{{ 'main.menu.account.label'|trans }}</a>
        </li>
    </ul>
    {% if is_granted('ROLE_ADMIN') %}
    <ul class="nav nav-pills flex-column">
        <h6 class="dropdown-header"><i class="fa fa-users"></i> {{ 'main.menu.admin.accounts.label'|trans }}</h6>
        <li class="nav-item">
            <a class="nav-link {% if app.request.get('_route') == 'account_list' %}active{% endif %}" href="{{ path('account_list') }}"><i class="fa fa-table"></i> {{ 'main.menu.admin.account.list.label'|trans }}</a>
            <a class="nav-link {% if app.request.get('_route') == 'account_password_changed_ago' %}active{% endif %}" href="{{ path('account_password_changed_ago') }}"><i class="fa fa-user-secret"></i> {{ 'main.menu.admin.account.passwordAgo.label'|trans }}</a>
        </li>
    </ul>

    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    <div class="dropdown-divider"></div>
    <ul class="nav nav-pills flex-column">
        <h6 class="dropdown-header"><i class="fa fa-phone"></i> {{ 'main.menu.admin.contact.label'|trans }}</h6>
        <li class="nav-item">
            <a class="nav-link btn-outline-danger {% if app.request.get('_route') == 'contact_own_country' %}active{% endif %}" href="{{ path('contact_own_country') }}"><i class="fa fa-flag"></i> {{ 'main.menu.admin.contact.own.label'|trans }}</a>
            <a class="nav-link btn-outline-danger {% if app.request.get('_route') == 'contact_hq' %}active{% endif %}" href="{{ path('contact_hq') }}"><i class="fa fa-home"></i> {{ 'main.menu.admin.contact.hq.label'|trans }}</a>
{#            <a class="nav-link {% if app.request.get('_route') == 'contact_field' %}active{% endif %}" href="{{ path('contact_field') }}"><i class="fa fa-home"></i> {{ 'main.menu.admin.contact.field.label'|trans }}</a>#}
            <a class="nav-link btn-outline-danger {% if app.request.get('_route') == 'contact_all' %}active{% endif %}" href="{{ path('contact_all') }}"><i class="fa fa-globe"></i> {{ 'main.menu.admin.contact.all.label'|trans }}</a>
        </li>
    </ul>
    {% endif %}
</nav>
