<nav class="col-sm-2 col-md-1 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link {% if (app.request.get('_route') == 'homepage') or (app.request.get('_route') == 'application-my-apps') %}active{% endif %}" href="{{ path('application-my-apps') }}">{{ 'main.menu.application.label'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if app.request.get('_route') == 'my_account' %}active{% endif %}" href="{{ path('my_account') }}">{{ 'main.menu.account.label'|trans }}</a>
        </li>
    </ul>
    {% if is_granted('ROLE_ADMIN') %}
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link {% if app.request.get('_route') == 'account_list' %}active{% endif %}" href="{{ path('account_list') }}">{{ 'main.menu.admin.accounts.label'|trans }}</a>
        </li>
    </ul>

    {% endif %}
</nav>
