<nav class="col-sm-2 col-md-1 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link {% if (app.request.get('_route') == 'homepage') %}active{% endif %}" href="{{ path('homepage') }}"><i class="fas fa-home"></i> {{ 'main.menu.homepage.label'|trans }}</a>
        </li>
    </ul>
    {% if is_granted('ROLE_ADMIN') %}
    <ul class="nav nav-pills flex-column">
        <h6 class="dropdown-header"><i class="fas fa-users"></i> {{ 'main.menu.admin.accounts.label'|trans }}</h6>
        <li class="nav-item">
            <a class="nav-link {% if app.request.get('_route') == 'account_list' %}active{% endif %}" href="{{ path('account_list') }}"><i class="fas fa-table"></i> {{ 'main.menu.admin.account.list.label'|trans }}</a>
            <a class="nav-link {% if app.request.get('_route') == 'account_password_changed_ago' %}active{% endif %}" href="{{ path('account_password_changed_ago') }}"><i class="fas fa-user-secret"></i> {{ 'main.menu.admin.account.passwordAgo.label'|trans }}</a>
            <a class="nav-link {% if app.request.get('_route') == 'account_create_external' %}active{% endif %}" href="{{ path('account_create_external') }}"><i class="fas fa-user-plus"></i> {{ 'main.menu.admin.account.createExternal.label'|trans }}</a>
            <a class="nav-link {% if (app.request.get('_route') == 'account_force_sync') %}active{% endif %}" href="{{ path('account_force_sync') }}"><i class="fas fa-user-cog"></i> {{ 'main.menu.admin.account.forceSync.label'|trans }}</a>
            <a class="nav-link {% if (app.request.get('_route') == 'officer_index') %}active{% endif %}" href="{{ path('officer_index') }}"><i class="fas fa-user-shield"></i> {{ 'main.menu.admin.officer.label'|trans }}</a>
        </li>
    </ul>

    {% endif %}
    <div class="dropdown-divider"></div>
    <ul class="nav nav-pills flex-column">
        <h6 class="dropdown-header"><i class="fas fa-phone"></i> {{ 'main.menu.admin.contact.label'|trans }}</h6>
        <li class="nav-item">
            {% if app.user.username|userCountry != 'BE' %}
            <a class="nav-link {% if app.request.get('_route') == 'contact_own_country' %}active{% endif %}" href="{{ path('contact_own_country') }}"><i class="flag-icon flag-icon-{{ app.user.username|userCountry|lower }}"></i> {{ 'main.menu.admin.contact.own.label'|trans }}</a>
            {% endif %}
            <a class="nav-link {% if app.request.get('_route') == 'contact_hq' %}active{% endif %}" href="{{ path('contact_hq') }}"><i class="flag-icon flag-icon-be"></i> {{ 'main.menu.admin.contact.hq.label'|trans }}</a>
{#            <a class="nav-link {% if app.request.get('_route') == 'contact_field' %}active{% endif %}" href="{{ path('contact_field') }}"><i class="fas fa-home"></i> {{ 'main.menu.admin.contact.field.label'|trans }}</a>#}
            <a class="nav-link {% if app.request.get('_route') == 'contact_all' %}active{% endif %}" href="{{ path('contact_all') }}"><i class="fas fa-globe"></i> {{ 'main.menu.admin.contact.all.label'|trans }}</a>
        </li>
    </ul>
</nav>
